In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [55]:
# Importing base_111 file
base = pd.read_csv("base_111.csv", encoding="latin-1")
base2 = pd.read_csv("base_222.csv", encoding="latin-1")
base265 = pd.read_csv("base_265.csv", encoding="latin-1")

c:\users\hideki\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
base.head(2)

,Cod,Ano,Dia Juliano,Hora - minuto,Veloc. Instantânea do Vento a 5 metros (m/s),Veloc. Instantânea do Vento a 2 metros (m/s),Direção do Vento no instante da aquisição (°),Radiação Incidente total de 10 leituras (KW/m2),Radiação Refletida Total de 10 leituras (KW/m2),Fluxo Positivo de calor no solo total de 10 leituras (W/m2),Fluxo negativo de calor no solo . total de 10 leituras (W/m2),Umidade relativa Média (%),Temperatura do Ar Média (°C),Temperatura do solo 1 Média (°C) à 3cm no solo,Temperatura do solo 2Média (°C) à 6cm no solo,Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09,Pressão (hPa),Chuva total do período (mm)
0,111,1997,1.0,10,1618.00,1115.000,8.32,0.0,0.0,0.0,-443.0,92.3,19.84,21.04,22.68,24.59,943.0,0
1,111,1997,1.0,20,0.99,0.763,20.59,0.0,0.0,0.0,-443.0,93.1,19.63,20.97,22.65,24.52,943.0,0

In [56]:
base2.head(2)

,Cod,Ano,Dia Juliano,Hora - minuto,Veloc. máxima do Vento a 5 metros (m/s),Veloc. máxima do Vento a 2 metros (m/s),Direção do Vento no instante da veloc. Máx.(°),Horário de ocorrência vr máx. veloc. do vento,Radiação Incidente Total do dia (KW/m2),Radiação Refletida Total do dia (KW/m2),...,Fluxo Negativo de calor no solo. Total do dia (KW/m2),Temperatura do Ar Máxima do dia (°C),Horário de ocorrência da Temp. Ar Máxima(°C),Temperatura do Ar Mínima do dia (°C),Horário de ocorrência da Temp. Ar Minima,Temperatura do Solo 1 Máxima do dia (°C),Horário de ocorrência da Temp. Solo 1 Máxima.,Temperatura do Solo 1 Mínima do dia (°C),Horário de ocorrência da Temp. Solo 1 minima,Chuva total do dia (mm)
0,222,1997,1,2400,6031.0,2677.0,99.6,1923,270.8,53.81,...,-34.76,30.16,1255,18.50,551.0,34.53,1258,19.15,606.0,0.0
1,222,1997,2,2400,4756.0,1758.0,119.5,45,165.3,27.46,...,-26.86,26.15,1417,19.15,2355.0,27.66,1425,19.65,2352.0,0.0

In [57]:
base265.head(2)

,Cod,Ano,Dia Juliano,Hora - minuto,Chuva das 7 h as 7 h,Temperatura do Ar máxima do dia °C,Horário de ocorrência da Temp. Ar máxima,Temperatura do Ar Minima do dia (°C),Horário de ocorrência da Temp. Ar minima,Umidade máxima,Hora,Umidade mínima,Hora.1
0,265,1997,1.0,700,0.0,31.11,1356,18.50,551.0,NaN,NaN,NaN,NaN
1,265,1997,2.0,700,0.0,30.16,1255,19.21,510.0,NaN,NaN,NaN,NaN

# Describe data

In [4]:
base.describe()

,Cod,Ano,Dia Juliano,Hora - minuto,Veloc. Instantânea do Vento a 5 metros (m/s),Veloc. Instantânea do Vento a 2 metros (m/s),Direção do Vento no instante da aquisição (°),Radiação Incidente total de 10 leituras (KW/m2),Radiação Refletida Total de 10 leituras (KW/m2),Fluxo Positivo de calor no solo total de 10 leituras (W/m2),Fluxo negativo de calor no solo . total de 10 leituras (W/m2),Umidade relativa Média (%),Temperatura do Ar Média (°C),Temperatura do solo 1 Média (°C) à 3cm no solo,Temperatura do solo 2Média (°C) à 6cm no solo,Pressão (hPa)
count,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.050445e+06,1.048620e+06,1.048619e+06,1.048619e+06,1.048254e+06,1.048254e+06,1.048254e+06
mean,1.114778e+02,2.006549e+03,1.835618e+02,1.192104e+03,1.472154e+03,9.129840e+02,2.723121e+02,7.622076e+02,2.706437e+02,3.653693e+02,-1.662485e+03,7.404259e+01,2.634531e+01,1.332214e+03,1.296305e+03,9.462274e+02
std,9.895335e+00,5.762457e+00,1.053855e+02,6.927634e+02,1.353874e+03,1.134761e+03,6.693158e+02,1.611430e+03,8.889303e+02,1.147225e+03,2.796438e+03,2.748618e+01,2.413575e+02,2.725003e+03,2.694402e+03,8.089817e+01
min,1.110000e+02,1.997000e+03,-5.336000e+01,1.000000e+01,-6.999000e+03,0.000000e+00,0.000000e+00,-6.999000e+03,0.000000e+00,0.000000e+00,-6.999000e+03,-6.999000e+03,-6.999000e+03,-6.999000e+03,-6.999000e+03,-6.999000e+03
25%,1.110000e+02,2.002000e+03,9.300000e+01,6.100000e+02,1.010000e+00,5.390000e-01,9.380000e+01,0.000000e+00,0.000000e+00,0.000000e+00,-5.298000e+02,6.053000e+01,1.813000e+01,2.049000e+01,2.117000e+01,9.430000e+02
50%,1.110000e+02,2.007000e+03,1.840000e+02,1.210000e+03,1.481000e+03,1.010000e+00,1.555000e+02,0.000000e+00,0.000000e+00,0.000000e+00,-2.460000e+02,7.750000e+01,2.114000e+01,2.448000e+01,2.493000e+01,9.470000e+02
75%,1.110000e+02,2.012000e+03,2.750000e+02,1.810000e+03,2.265000e+03,1.716000e+03,2.576000e+02,4.338000e+02,9.890000e-01,1.788000e+02,0.000000e+00,8.920000e+01,2.510000e+01,3.198000e+01,2.988000e+01,9.520000e+02
max,3.330000e+02,2.139000e+03,6.540000e+02,6.640000e+03,6.996000e+03,6.999000e+03,6.999000e+03,6.999000e+03,6.999000e+03,6.999000e+03,6.538000e+03,6.836000e+03,1.822660e+05,6.999000e+03,6.999000e+03,2.802000e+03

Here we can see that there are a few values inconsistent, like negative value for "Day's variable"

In [5]:
#Counting 0 value for Day variable
base[base['Dia Juliano'] <1 ]['Ano'].nunique()

2

In [6]:
#Looking these values
base[base['Dia Juliano'] <1 ]['Dia Juliano'].unique()

array([-53.36,   0.  ])

In [7]:
#Looking which Years tehse inconsistent values exist
base[base['Dia Juliano'] <1 ]['Ano'].unique()

array([2019, 2000], dtype=int64)

Also there are values above 366 in Day Variable

In [9]:
#Looking
base[base['Dia Juliano'] > 366 ]['Dia Juliano'].unique()

array([ 388.,  654.])

In [10]:
#Looking years of occurence
base[base['Dia Juliano'] > 366 ]['Ano'].unique()

array([2039, 2139], dtype=int64)

Since out datasets are from 1997 to 2017 values above 2017 are also inconsistent

In [11]:
#Couting inconsistent values
base[base['Ano']> 2017]['Ano'].nunique()

4

In [12]:
#Looking these values
base[base['Ano']> 2017]['Ano'].unique()

array([2019, 2039, 2126, 2139], dtype=int64)

Other variable with directly notable inconsistent values is "Hora - Minuto" that is hour variable, it is limited from 0 to 2400

In [13]:
#counting
base[base['Hora - minuto']> 2400]['Hora - minuto'].nunique()

1

In [14]:
#looking
base[base['Hora - minuto']> 2400]['Hora - minuto'].unique()

array([6640], dtype=int64)

All these values will be tagged to future treatment

# Missing values

In [15]:
base.isnull().sum()

Cod                                                                     0
Ano                                                                     0
Dia Juliano                                                             0
Hora - minuto                                                           0
Veloc. Instantânea do Vento a 5 metros (m/s)                            0
Veloc. Instantânea do Vento a 2 metros (m/s)                            0
Direção do Vento no instante da aquisição (°)                           0
Radiação Incidente total de 10 leituras (KW/m2)                         0
Radiação Refletida Total de 10 leituras (KW/m2)                         0
Fluxo Positivo de calor no solo total de 10 leituras (W/m2)             0
Fluxo negativo de calor no solo . total de 10 leituras (W/m2)        1825
Umidade relativa Média (%)                                           1826
Temperatura do Ar Média (°C)                                         1826
Temperatura do solo  1 Média (°C) à 3cm no solo                      2191
Temperatura do solo 2Média (°C) à 6cm no solo                        2191
Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09    2191
Pressão (hPa)                                                        2191
Chuva total do período (mm)                                          2191
dtype: int64

In [18]:
#Counting all
base.isnull().sum().sum()

16432

These values will be also tagged later

# Fixing inconsistent values

In [19]:
#Function to fix year variable
def fix_year(anos):
    if(anos in [2019, 2039, 2126, 2139]):
        return -999
    else:
        return anos

In [20]:
base['Ano'] = base['Ano'].map(fix_year)

In [21]:
#Function to fix hour variable
def fix_hour(hours):
    if(hours == 6640):
        return -999
    else:
        return hours

In [22]:
base["Hora - minuto"] = base["Hora - minuto"].map(fix_hour)

In [23]:
#Function to fix day variable
def fix_day(days):
    if((days<1) | (days > 366)):
        return -999
    else:
        return days

In [24]:
base["Dia Juliano"] = base["Dia Juliano"].map(fix_day)

In [25]:
base = base.dropna();

In [26]:
base.shape

(1048254, 18)

# Checking data consistency

In [27]:
base.isnull().sum()

Cod                                                                  0
Ano                                                                  0
Dia Juliano                                                          0
Hora - minuto                                                        0
Veloc. Instantânea do Vento a 5 metros (m/s)                         0
Veloc. Instantânea do Vento a 2 metros (m/s)                         0
Direção do Vento no instante da aquisição (°)                        0
Radiação Incidente total de 10 leituras (KW/m2)                      0
Radiação Refletida Total de 10 leituras (KW/m2)                      0
Fluxo Positivo de calor no solo total de 10 leituras (W/m2)          0
Fluxo negativo de calor no solo . total de 10 leituras (W/m2)        0
Umidade relativa Média (%)                                           0
Temperatura do Ar Média (°C)                                         0
Temperatura do solo  1 Média (°C) à 3cm no solo                      0
Temperatura do solo 2Média (°C) à 6cm no solo                        0
Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09    0
Pressão (hPa)                                                        0
Chuva total do período (mm)                                          0
dtype: int64

In [28]:
base[(base['Dia Juliano'] <1 ) & (base['Dia Juliano']!=-999)]['Ano'].nunique()

0

In [29]:
base[base['Ano']> 2017]['Ano'].nunique()

0

In [30]:
base[base['Hora - minuto']> 2400]['Hora - minuto'].nunique()

0

# Treatment of variables with non numerical data, where it should be

In [31]:
vars_ = base.columns

In [32]:
for v in vars_: 
    try:
        base[v] = base[v].astype(float)
    except ValueError:
    #Handle the exception
        print("Theres is non numerical data in variable : ", v)

Theres is non numerical data in variable :  Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09
Theres is non numerical data in variable :  Chuva total do período (mm)

In [33]:
#Fixing these values

base['Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09'] = pd.to_numeric(base['Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09'], errors='coerce')
base['Chuva total do período (mm)']= pd.to_numeric(base['Chuva total do período (mm)'], errors = 'coerce')

In [34]:
base = base.dropna();

In [37]:
base.isnull().sum()

Cod                                                                  0
Ano                                                                  0
Dia Juliano                                                          0
Hora - minuto                                                        0
Veloc. Instantânea do Vento a 5 metros (m/s)                         0
Veloc. Instantânea do Vento a 2 metros (m/s)                         0
Direção do Vento no instante da aquisição (°)                        0
Radiação Incidente total de 10 leituras (KW/m2)                      0
Radiação Refletida Total de 10 leituras (KW/m2)                      0
Fluxo Positivo de calor no solo total de 10 leituras (W/m2)          0
Fluxo negativo de calor no solo . total de 10 leituras (W/m2)        0
Umidade relativa Média (%)                                           0
Temperatura do Ar Média (°C)                                         0
Temperatura do solo  1 Média (°C) à 3cm no solo                      0
Temperatura do solo 2Média (°C) à 6cm no solo                        0
Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09    0
Pressão (hPa)                                                        0
Chuva total do período (mm)                                          0
dtype: int64

In [45]:
((base == -1000) | (base == -999)).sum()

Cod                                                                    0
Ano                                                                  128
Dia Juliano                                                          131
Hora - minuto                                                          1
Veloc. Instantânea do Vento a 5 metros (m/s)                           0
Veloc. Instantânea do Vento a 2 metros (m/s)                           0
Direção do Vento no instante da aquisição (°)                          0
Radiação Incidente total de 10 leituras (KW/m2)                        0
Radiação Refletida Total de 10 leituras (KW/m2)                        0
Fluxo Positivo de calor no solo total de 10 leituras (W/m2)            0
Fluxo negativo de calor no solo . total de 10 leituras (W/m2)         20
Umidade relativa Média (%)                                             0
Temperatura do Ar Média (°C)                                           0
Temperatura do solo  1 Média (°C) à 3cm no solo                        0
Temperatura do solo 2Média (°C) à 6cm no solo                          0
Temperatura do solo 3Média (°C) Colocado sensor de UV em 31/07/09      0
Pressão (hPa)                                                          0
Chuva total do período (mm)                                            0
dtype: int64

In [49]:
clean_base = base[((base != -1000) & (base != -999))]
clean_base = clean_base.dropna();

In [50]:
# Here we export our main resulted dataset of this code
clean_base.to_csv("clean_base111.csv", index = False)